/*-----------------------body----------------------- */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

address{
  font-style: normal;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container{
    max-width: 768px;

  }
}

@media screen and (min-width: 1158px) {
  .container{
    max-width: 1158px;
    padding: 0 15px;
    
  }
}
/* -----------------------header---------------------  */
.header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  }

  .header-address,
  .header-menu-list{
    display: none;
  }

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.header-logo-span {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.burger-btn{
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon{
  display: block;
  fill: #2F2F37;
  
}

@media screen and (min-width: 768px) {
  .burger-btn{
    display: none;
  }

  .header-nav{
    display: flex;
    align-items: center;
  }

  .header-menu-list{
    display: flex;
    gap: 40px;
    align-items: center;
  }
  
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  
  .header-menu-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    position: relative;
    }

  .current::after {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    background-color: #404BBF;
    left: 0;
    border-radius: 2px;
    bottom: -1px;
    }
    .header-menu-link.current,
    .header-menu-link:hover,
    .header-menu-link:focus {
      color: #404bbf;
    }

    
  .header-address {
    font-style: normal;
    display: block;
  }

  .header-address-menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-menu-ling {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-address-menu-ling:hover,
  .header-address-menu-ling:focus {
    color: #404bbf;
  }

}

@media screen and (min-width: 1158px) {

  .header-logo {
    margin-right: 76px;
  }
  .header-address-menu{
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  
  .header-address-menu-ling {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
} 

/* -----------------mobile menu-------------------------- */

.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}

.mobile-menu-container{
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  padding-right: 24px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E7E9FC;
  border: 1px solid #0000001A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus{
  background-color: #404BBF;
  fill: #FFFFFF;
  border: none;
}

.mobile-menu-nav{
  margin-bottom: auto;
}

.mobile-menu-list{
display: flex;
flex-direction: column;
gap: 40px;

}

.mobile-menu-link{
color: #2E2F42;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
transition: color 250ms 
  cubic-bezier(0.4, 0, 0.2, 1);
  
}

.mobile-menu-link:hover,
.mobile-menu-link:focus{
  color: #404BBF;

}


.mibile-address-menu{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}


.mibile-address-menu-ling{
color: #434455;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
transition: color 250ms 
  cubic-bezier(0.4, 0, 0.2, 1);
}

.mibile-address-menu-ling:hover,
.mibile-address-menu-ling:focus{
  color: #4D5AE5;

}

.icons-mobile-list {
  display: flex;
  gap: 40px;
  
}

.icon-mobile-link {
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms 
  cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-mobile-link:hover,
.icon-mobile-link:focus{
background-color: #404BBF;

}

.icon-mobile-soc {
  fill: #F4F4FD;
}

@media screen and (min-width: 768px){
  .mobile-menu{
    display: none;
  }

}


/* ---------------our------------------ */

.our-icon-container{
  display: none;
}

.our-title{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-list{
  display: flex;
  flex-direction: column;
  gap: 72px;
  
}

.our{
  padding: 96px 0;
 
}


.our-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  
}

.our-item-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px){
  .our-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  
  }

  .our-item{
    width: calc((100% - 24px) / 2);
  
  }

  .our-subtitle{
    text-align: left;
  }
}


@media screen and (min-width: 1158px){
  .our-list{
    display: flex;
    gap: 24px;
    
  }
  
  .our-item{
    width: calc((100% - 72px) / 4)
  
  }
  
  .our{
    padding: 120px 0;
   
  }
  
  
  .our-subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  
  
  
  .our-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
  }

}

/*-------------------- People------3--------------- */

.mobile-people-container{
  padding: 96px 28px;
  
}

.people-container{
  padding: 32px 0;
  text-align: center;
}

.people-list{
display: flex;
flex-wrap: wrap;
gap: 72px;


}

.people-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
  0px 1px 1px rgba(46, 47, 66, 0.16), 
  0px 2px 1px rgba(46, 47, 66, 0.08);
}

.people {
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
}

.people-image{
  
}

.peopl-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;

}

.people-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}



.people-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.icons-people-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}


.icon-people-link {
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms 
  cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-people-link:hover,
.icon-people-link:focus{
  background-color: #404BBF;
}

.icon-people-soc {
  fill: #F4F4FD;
  
}

@media screen and (min-width: 768px){
  
  .people-list{
    align-items: center;
    justify-content: center;
    gap: 72px 24px;
    
    }

}

@media screen and (min-width: 1158px){
  .people-list{
    gap: 24px;
    
    }
  .people-item {
      width: calc((100% - 72px) / 4);
    }
    
  .people {
      padding: 120px 0;
    }
    
}


/* ----------------Portfolio----4----------------- */

.portfolio {
  color: #e7e9fc;
  padding: 96px 0;
}

.portfolio-container{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
 
}


.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;

}

.portfolio-list {
  color: #e7e9fc;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  
}
.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;

}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;

}

.portfolio-cover-tex {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  background-color: #4D5AE5;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms 
  cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  
}

.portfolio-item:hover .portfolio-cover-tex  {
transform: translateY(0);
}

@media screen and (min-width: 768px){
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
    
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width: 1158px){
  .portfolio {
    padding: 120px 0;
    
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
    
  }
  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
    
  }

  .portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  

}

/* ---------------------Footer ---------------- */
